body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4; /* Light background for contrast */
}

.container--login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 20px); /* Height adjustment */
}

.form--login {
  display: flex;
  flex-direction: column; /* Column layout for form */
  background-color: #ffffff; /* Card background */
  border-radius: 8px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Padding for inner content */
  width: 400px; /* Increased card width */
}

.login-title {
  color: #0a4c86; /* Title color */
  margin: 15px 0; /* Margin for title */
  text-align: center; /* Center title */
}

.login-subtitle {
  color: #ff4f3d; /* Subtitle color */
  margin: 8px 0 15px; /* Margin for subtitle */
  text-align: center; /* Center subtitle */
}

fieldset {
  border: none; /* Remove default fieldset border */
  margin-bottom: 0.5rem; /* Margin between fieldsets */
  text-align: left; /* Align labels to the left */
}

label {
  display: block; /* Display label as block to take full width */
  color: #0a4c86; /* Label color */
  margin-bottom: 0.5rem; /* Space between label and input */
}

.form-control {
  display: block;
  width: 100%; /* Full width to fit card */
  height: 40px; /* Adjusted height */
  padding: 0.5rem; /* Padding for inputs */
  font-size: 1rem; /* Adjusted font size */
  color: #495057; /* Input text color */
  background-color: #ffffff; /* Input background color */
  border: 1px solid #0a4c86; /* Border color matching logo */
  border-radius: 0.25rem;
  transition: border-color 0.3s ease; /* Transition for border color */
}

.form-control:focus {
  border-color: #ff4f3d; /* Highlight border on focus */
  outline: none; /* Remove default outline */
}

.login-button {
  width: 100%; /* Full width button */
  height: 40px; /* Adjusted height */
  background: linear-gradient(to right, #0a4c86, #ff4f3d); /* Gradient button */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px; /* Adjusted font size */
  cursor: pointer;
  margin-top: 1rem; /* Margin for spacing */
  transition: background 0.3s ease, transform 0.2s; /* Added transform for button */
}

.login-button:hover {
  opacity: 0.9; /* Hover effect */
  transform: scale(1.02); /* Slight scale on hover */
}

.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.button--close {
  position: relative;
  bottom: -2rem;
}

.loginLinks {
  display: flex; /* Use flex to center the content */
  justify-content: center; /* Center horizontally */
  margin-top: 1rem; /* Add space above the link */
}

.link--to-login {
  color: #0a4c86; /* Link color */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Adjust font size */
  text-align: center; /* Center the link */
}
