.image-container {
  position: relative;
  top: 80px;
  left: 179px;
  width: 504px;
  height: 504px;
  border-radius: 2px;
  background: none;
}

.title-text {
  color: #0a4c86;
  font-size: 64px;
  font-family: "Aleo", sans-serif;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
}

.description-text {
  color: #0a4c86;
  font-size: 24px;
  font-family: "Aleo", sans-serif;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.button {
  cursor: pointer;
  width: 468px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  border-radius: 2px;
  background-color: #ff4f3d;
  color: #ffffff;
  font-size: 18px;
  font-family: "Aleo", sans-serif;
  font-weight: 700;
  line-height: 24px;
  outline: none;
  margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 20px;
}
