.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  background-color: #f7f7f7; /* Very light gray background */
  padding: 8px 20px; /* Added horizontal padding for spacing */
  margin: 0;
  width: 100%;
  border: 1px solid #dcdcdc; /* Light border for outline */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar__menu {
  display: flex;
  gap: 20px; /* Increased gap for more spacing */
  align-items: center;
}

.navbar__auth-links {
  display: flex;
  gap: 15px;
}

.navbar__item .nav-link {
  /* Increased specificity */
  text-decoration: none;
  color: #d9534f; /* Changed text color to dark red */
  font-size: 0.9rem;
  padding: 8px 12px;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.navbar__item .nav-link:hover {
  /* Increased specificity */
  color: #1d6ebc; /* Lighter blue on hover */
}

.logout-button {
  background-color: transparent; /* Clear background for the button */
  border: none; /* Remove default button border */
  color: #d9534f; /* Match link color */
  font-size: 0.9rem;
  cursor: pointer; /* Pointer cursor for button */
  padding: 8px 12px; /* Ensure consistent padding */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.logout-button:hover {
  color: #d9534f; /* Change color on hover (red for logout action) */
}

.logo-image {
  height: 40px;
}
